
.main-container {
    background-color: #71c047;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: flex-start;
    padding: 1rem .5rem .5rem;
    max-width: 60rem;
    width: 100%;
    border-radius: 0 0 1rem 1rem;
    box-sizing: border-box;
}
.pokemon-title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 8rem;
    width: 100%;
    color: #ffffff
}
.pokemon-title h1 {
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
}
.content-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 9.5rem;
    padding-top: 6.5rem;
    border-radius: 1rem;
    width: 100%;
    height: 100%;

}
.pokemon-image {
    position: absolute;
    top: 250px;
    max-height: 226px;
    height: auto;
    z-index: 1;
}
.pokemon-types {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}
.type {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: #71c047;
    color: rgba(255, 255, 255, 0.7);
    padding: .5rem;
    border-radius: 2rem;
}
.pokemon-info {
    width: 100%;
    height: 10rem;
    display:grid;
    grid-template-columns: repeat(3, 6rem);
    justify-content: center;
    color: #222121;
}
.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    height: 100%;
}
.info-item h2 {
    font-weight: 400;
    font-size: 1.5rem;
}
.info-item p {
    font-weight: 700;
    font-size: 1.2rem;
}
.abilities-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: .2rem;
    margin: 0;
    padding: 0;
}
.abilities-list li {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.1rem;
}
.info-detail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}
.info-detail img {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: .5rem;
    object-fit: contain;
}
.pokemon-stats {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}
.pokemon-stats h2 {
    -webkit-text-stroke-width: 2.5px;
    font-family: 'comic-sans', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 0;
    padding-bottom: 1rem;
}
.stats-container {
    display: flex;
    justify-content: space-around;
    font-size: 1.25rem;
    gap: .5rem;
}
.stats-index {
    display: flex;

}
.stat-item {
    font-weight: 700;
    text-align: right;
    border-right: #383737 2px solid;
    padding: 0 .45rem 0 0;
}
.stat-number {
    font-weight: 800;
    padding-left: .5rem;
}
.stat-bars {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    gap: .675rem;
}
.stats-bar-container {
    width: 10rem;
    height: 1.5rem;
    background-color: #dcdcdc;
    border-radius: .75rem;
    margin: .25rem 0;
}
.stats-bar {
    height: 100%;
    border-radius: 1rem;
}



