.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    padding: 1rem 0 0 0;
    width: 100%;
    max-width: 60rem;
    border-radius: 0 0 1rem 1rem;
}
.content-cards {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 0 auto;
    padding: 0 1rem;
}
.details-link {
    text-decoration: none;
    transition: transform .8s;
}
.details-link:hover {
    content: '';
    transform: scale(1.095);
}
.card {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 1rem;
    height: 10rem
}
.number {
    align-self: flex-end;
    color: #ffffff;
    opacity: 0.5;
    font-size: 1rem;
}
.name {
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: capitalize;
}
.detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.detail img {
    max-width: 100%;
    height: auto;
    max-height: 60px;
}
.types {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: space-between;
    padding: 0;
    gap: .5rem;
    font-size: .825rem;
}
.type { 
    filter: brightness(1.1);
    padding: .25rem 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    text-align: center;
}
.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}
#load-btn {
    background-color: #0452a4;
    color: #fdd10e;
    border: none;
    border-radius: 1rem;
    padding: .25rem 1rem;
    font-size: 1.5rem;
    font-weight: 400;

}
#load-btn:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 2px 2px rgb(0 0 0 / 50%));
}
.normal {
    background-color: #a3a370;
}
.bug {
    background-color: #a3b221;
}
.fighting {
    background-color: #b63427;
}
.ghost {
    background-color: #6d5394;
}
.electric {
    background-color: #f1ca2f;
}
.flying {
    background-color: #a18ae8;
}
.steel {
    background-color: #b2b2cb;
}
.psychic {
    background-color: #ee5583;
}
.poison {
    background-color: #993e9a;
}
.fire {
    background-color: #ea7b2e;
}
.ice {
    background-color: #93d1d1;
}
.ground {
    background-color: #dcb96b;
}
.water {
    background-color: #668be8;
}
.dragon {
    background-color: #713af3;
}
.rock {
    background-color: #b19b36;
}
.grass {
    background-color: #71c04d;
}
.dark {
    background-color: #6c5546;
}
.fairy {
    background-color: #f79eaa;
}

.normal-bg-lt {
    background-color: #a3a3707c;
}
.bug-bg-lt {
    background-color: #a3b2216c;
}
.fighting-bg-lt {
    background-color: #b633275b;
}
.ghost-bg-lt {
    background-color: #6d539450;
}
.electric-bg-lt {
    background-color: #f1ca2f4f;
}
.flying-bg-lt {
    background-color: #a28ae85b;
}
.steel-bg-lt {
    background-color: #b2b2cb4f;
}
.psychic-bg-lt {
    background-color: #ee558348;
}
.poison-bg-lt {
    background-color: #983e9a46;
}
.fire-bg-lt {
    background-color: #ea7c2e5d;
}
.ice-bg-lt {
    background-color: #93d1d170;
}
.ground-bg-lt {
    background-color: #dcb86b6c;
}
.water-bg-lt {
    background-color: #668be87a;
}
.dragon-bg-lt {
    background-color: #723af37c;
}
.rock-bg-lt {
    background-color: #b19a367a;
}
.grass-bg-lt {
    background-color: #71c04d77;
}
.dark-bg-lt {
    background-color: #6c554673;
}
.fairy-bg-lt {
    background-color: #f79eaa7a;
}

.normal-txt-lt {
    color: #a3a3707c;
    -webkit-text-stroke-color: #a3a370;
}
.bug-txt-lt {
    color: #a3b22169;
    -webkit-text-stroke-color: #a3b221;
}
.fighting-txt-lt {
    color: #b6332775;
    -webkit-text-stroke-color: #b63427;
}
.ghost-txt-lt {
    color: #6d53947a;
    -webkit-text-stroke-color: #6d5394;
}
.electric-txt-lt {
    color: #f1ca2f7e;
    -webkit-text-stroke-color: #f1ca2f;
}
.flying-txt-lt {
    color: #a28ae87e;
    -webkit-text-stroke-color: #a18ae8;
}
.steel-txt-lt {
    color: #b2b2cb81;
    -webkit-text-stroke-color: #b2b2cb;
}
.psychic-txt-lt {
    color: #ee55837a;
    -webkit-text-stroke-color: #ee5583;
}
.poison-txt-lt {
    color: #983e9a83;
    -webkit-text-stroke-color: #993e9a;
}
.fire-txt-lt {
    color: #ea7c2e81;
    -webkit-text-stroke-color: #ea7b2e;
}
.ice-txt-lt {
    color: #93d1d18f;
    -webkit-text-stroke-color: #93d1d1;
}
.ground-txt-lt {
    color: #dcb86b81;
    -webkit-text-stroke-color: #dcb96b;
}
.water-txt-lt {
    color: #668be87e;
    -webkit-text-stroke-color: #668be8;
}
.dragon-txt-lt {
    color: #723af386;
    -webkit-text-stroke-color: #713af3;
}
.rock-txt-lt {
    color: #b19a3683;
    -webkit-text-stroke-color: #b19b36;
}
.grass-txt-lt {
    color: #71c04d85;
    -webkit-text-stroke-color: #71c04d;
}
.dark-txt-lt {
    color: #6c554680;
    -webkit-text-stroke-color: #6c5546;
}
.fairy-txt-lt {
    color: #f79eaa81;
    -webkit-text-stroke-color: #f79eaa;    
}

.normal-txt {
    color: #a3a370;
}
.bug-txt {
    color: #a3b221;
}
.fighting-txt {
    color: #b63427;
}
.ghost-txt {
    color: #6d5394;
}
.electric-txt {
    color: #f1ca2f;
}
.flying-txt {
    color: #a18ae8;
}
.steel-txt {
    color: #b2b2cb;
}
.psychic-txt {
    color: #ee5583;
}
.poison-txt {
    color: #993e9a;
}
.fire-txt {
    color: #ea7b2e;
}
.ice-txt {
    color: #93d1d1;
}
.ground-txt {
    color: #dcb96b;
}
.water-txt {
    color: #668be8;
}
.dragon-txt {
    color: #713af3;
}
.rock-txt {
    color: #b19b36;
}
.grass-txt {
    color: #71c04d;
}
.dark-txt {
    color: #6c5546;
}
.fairy-txt {
    color: #f79eaa;
}


@media screen and (min-width:260px) {
    .detail img {
        max-height: 4rem;
    }    
}
@media screen and (min-width:320px) {
    .card {
        width: 15rem;
    }
}
@media screen and (min-width:576px) {
    .content-cards {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    
}
@media screen and (min-width:768px) {
    .content-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .card {
        width: 13rem;
    }
    
}
@media screen and (min-width:992px) {
    .content-cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}
