
.main-container {
    display: flex;
    flex-direction: column;
    max-width: 80rem;
    width: 100%;
}
.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #71c047;
    padding: 2rem;
    height: 15rem;
    width: 100%;
    box-sizing: border-box;
}
.pokemon-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    color: #ffffff
}
.pokemon-title h1 {
    font-weight: 700;
    font-size: 2rem;
    text-transform: capitalize;
}
.content-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 10rem;

}
.pokemon-types {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.type {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: #71c047;
    padding: .5rem;
    border-radius: 2rem;
}