.content {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 1rem 0;
    border-radius: 0 0 1rem 1rem;
}
.content-cards {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 0;
    padding: 0;
}
.card {
    background-color: #49d0b0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
}
.number {
    align-self: flex-end;
    color: #ffffff;
    opacity: 0.5;
}
.name {
    font-weight: 700;
    font-size: 1.5rem;
}
.detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.detail img {
    max-width: 100%;
    height: auto;
    max-height: 60px;
}
.types {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: .25rem;
    font-size: .825rem;
}
.type {
    background-color: #65dfc8;
    padding: .25rem .5rem;
    border-radius: 1rem;
}
@media screen and (min-width:260px) {
    .types {
        flex-direction: row;
    }
    .detail img {
        max-height: 90px;
    }
    .card {
      width: 16rem;
    }
    
}
@media screen and (min-width:576px) {
    .content-cards {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
    }
    
}
@media screen and (min-width:768px) {
    .content-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
}
@media screen and (min-width:992px) {
    .content-cards {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}